@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');


* {
    margin: 0;
    padding: 0;
}

body {
  background-color: white;
  color: #000;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.fullscreen {
    height: 800px !important;
    margin: 0;
}

#image_logo {

}

#image_pepper {
    background-image: url(../media/pepper.jpg);
}

.big_button {
    font-size: 96px;
    width: 250px;
    height: 250px;
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    border-width: 2px;
    /* border-color: #2272bf; */
    border-style: solid;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.button_yes {
    border-color: #008000;
    background-color: #008000;
}

.button_no {
    border-color: #800000;
    background-color: #800000;
}

.survey_button {
    font-size: 180px;
    width: 250px;
    height: 250px;
    margin-top: 275px;
    margin-left: 15px;
    margin-right: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.big_button a, .survey_button a {
    text-decoration: none;
    color: white;
}

.title {
    margin-top: 80px;
    justify-content: center;
    font-size: 80px;
}

.content-wrapper {
    height: 720px;
    padding: 40px;
}

#chat .content-wrapper {
    height: 570;
}

.message  {
    border-radius: 50px;
    padding: 20px 30px;
    z-index: 999;
    position: relative;
    margin: 40px 0;
    width: 80%;
}

.message:first {
    margin: 0 !important;
}

.from-pepper .message {
    background-color: #9acf73;
}

.from-pepper, .from-user {
    position: relative;
}

.from-pepper::after {
    content: ' ';
    position: absolute;
    width: 100px;
    height: 60px;
    bottom: -15px;
    left: 100px;
    transform: rotate(-20deg);
    background-color: #9acf73;
    z-index: 1;
}

.from-user .message {
    background-color: #ddd;
    margin-left: calc(100% - 1020px);
}


.from-user::after {
    content: ' ';
    position: absolute;
    width: 100px;
    height: 60px;
    bottom: -15px;
    right: 100px;
    transform: rotate(20deg);
    background-color: #ddd;
    z-index: 1;
}

#chat .pepper-face {
    text-align: center;
    height: 150;
    margin-left: 20px;
    border: 5px solid #6c3;
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

#chat .pepper-face img {
    margin-top: 15px;
    width: 70px;
    height: auto;
}

#products .product-wrapper .product {
    background: red;
}